<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('home') }}">ENEL-MED</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            {% if is_granted('ROLE_USER') %}
                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Sign out</a>
            {% else %}
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">Sign in</a>
            {% endif %}
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        {% if is_granted('ROLE_USER') %}
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}">
                                <span data-feather="users"></span>
                                Patients<span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('packet_type') }}">
                                <span data-feather="layers"></span>
                                Packet type
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endif %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success" role="alert">
                    {{ msg }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>
</body>
</html>
